:root {
	/* General */
	--input-bg: #f2f2f2;

	/* Dark Theme */
	--header-color: rgb(50,69,77);
	--bg-color-0: rgb(21,28,32);
	--bg-color-1: rgb(32,41,47);
	--font-color: rgb(255,253,255);

	/* Light Theme */
	/*--header-color: rgb(25, 255, 194);
	--bg-color-0: rgba(116, 252, 216, 0.3);
	--bg-color-1: rgb(168, 255, 232);
	--font-color: rgb(34, 36, 35);*/
}

@font-face {
    font-family: 'rowdies';
    src: url('fonts/rowdies-light-webfont.woff2') format('woff2'),
         url('fonts/rowdies-light-webfont.woff') format('woff');
}

body {
	background: var(--bg-color-0);
	color: var(--font-color);
}

* {
	font-family: rowdies;;
}

#container-main {
	display: flex;
	justify-content: space-around;
}

#container-one {
	width: 65%;
}

#container-two {
	width: 25%;
}

#container-three {
	width: 3%;
}

.column {
	display: flex;
	flex-direction: column;
}

.menu-icon, #tool-additional {
	width: 25px;
	height: 25px;
	background: var(--header-color);
}

#new-schedule-form {
	display: flex;
	flex-direction: column;
}

button {
	border: 0;
	background: none;
	background: var(--font-color);
	box-shadow: none;
	border-radius: 0px;
	outline: none;
}

/* Generic and column 1 styling */

#container-major, #container-minor, #container-schedule, #completed-container,
#static-task-form, #schedule-task-form, #current-task  {
	margin-top: 0.5em;
	padding: 0;
	min-height: 70px;
	background: var(--bg-color-1);
}

#completed-container {
	min-height: 0;
}

.header-project, .header-new {
	margin: 0;
	padding: 0.75em;
	padding-left: 1.5em;
	font-size: 19px;
	color: var(--font-color);
	background: var(--header-color);
}

.letter-spaced {
	letter-spacing: 0.1em;
}

.header-new, #current-timer, #current-task-text {
	text-align: center;
	padding-left: 0;
}

.menu-icon {
	margin-top: 0.5em;
}

#header-major {
	font-size: 22px;
}

/* Column 2 styling */

input {
	box-sizing: border-box;
	text-align: center;
	outline: none;
	background: var(--input-bg);
	border: 0;
}

input[type="text"], input[type="date"] {
	display: block;
	margin: 0 auto;
	width: 60%;
}

input[type="number"] {
	width: 49%;
	margin-top: 0.2em;
}

input[type="date"]  {
	margin-top: 0.2em;
}

#major-minor-btn {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 0 auto;
}

#major-minor-btn {
	margin-top: 0.4em;
}

#add-minor, #add-major {
	width: 100%;

}

#add-schedule {
	width: 60%;
	margin: 0 auto;
	margin-top: 0.4em;
}

#hr-sc {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 60%;
	box-sizing: border-box;
	margin: 0 auto;
}

#new-schedule-form, #new-task-form {
	margin: 10px 0 15px 0;
}

