@font-face {
    font-family: 'rowdies';
    src: url('fonts/rowdies-light-webfont.woff2') format('woff2'),
         url('fonts/rowdies-light-webfont.woff') format('woff');
}

body {
	background: var(--bg-color-0);
	color: var(--font-color);
}

#container-main {
	display: flex;
	justify-content: space-around;
}

#container-one {
	width: 65%;
}

#container-two {
	width: 25%;
}

#container-three {
	width: 3%;
}

.column {
	display: flex;
	flex-direction: column;
}

.menu-icon, #tool-additional {
	width: 25px;
	height: 25px;
	background: var(--header-color);
}

#new-schedule-form {
	display: flex;
	flex-direction: column;
}

button {
	border: 0;
	background: none;
	background: var(--font-color);
	box-shadow: none;
	border-radius: 0px;
	outline: none;
}

/* Header lighters - on/off */

.lighter {
	display: inline-block;
	width: 9px;
	height: 9px;
	background: rgba(61, 223, 155, 0.7);
	position: relative;
	right: 15px;
	bottom: 2px;
	border-radius: 5px;
}

.closed-lighter {
	background: rgba(255, 99, 99, 0.8);
}


/* Generic and column 1 styling */

#container-major, #container-minor, #container-schedule, #completed-container,
#static-task-form, #schedule-task-form, #current-task  {
	margin-top: 0.5em;
	padding: 0;
	min-height: 70px;
	background: var(--bg-color-1);
}

#completed-container {
	min-height: 0;
}

.header-project, .header-new {
	margin: 0;
	padding: 0.75em;
	padding-left: 1.5em;
	font-size: 19px;
	color: var(--font-color);
	background: var(--header-color);
}

.letter-spaced {
	letter-spacing: 0.1em;
}

.header-new, #current-timer, #current-task-text {
	text-align: center;
	padding-left: 0;
}

.menu-icon {
	margin-top: 0.5em;
}

#header-major {
	font-size: 22px;
}

/* Column 2 styling */

input[type="text"], input[type="date"] {
	display: block;
	margin: 0 auto;
	width: 60%;
}

input[type="number"] {
	width: 49%;
	margin-top: 0.2em;
}

input[type="date"]  {
	margin-top: 0.2em;
}

#major-minor-btn {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 0 auto;
}

#major-minor-btn {
	margin-top: 0.4em;
}

#add-minor, #add-major {
	width: 100%;

}

#add-schedule {
	width: 60%;
	margin: 0 auto;
	margin-top: 0.4em;
}

#hr-sc {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 60%;
	box-sizing: border-box;
	margin: 0 auto;
}

#new-schedule-form, #new-task-form {
	margin: 10px 0 15px 0;
}

/* Generated CSS Styles and their containers */
/* Minor container - generated minor tasks */
#generated-minor {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding-bottom: var(--padding-standard);
}

.generated-task {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 90%;
	border: var(--border-style-1);
	margin-top: var(--padding-standard);
	box-sizing: border-box;
}

.btn-container {
	display: flex;
	width: 30%;
}

.task-text {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0.65em;
	padding-left: 2em;
	line-height: 125%;
	background: var(--bg-color-0);
	font-size: 15px;
}

.task-btn {
	margin: 0;
	width: 100%;
	border-left: var(--border-style-1);
	background: var(--header-color);
	color: var(--color-text-fade);
	transition: all 0.25s;
}

.task-current, .task-complete, .task-remove, .remove, .remove-major {
	font-size: var(--button-text-standard);
	transition: all 0.25s;
}

.task-current:hover, .task-complete:hover, .task-remove:hover, .remove:hover, .remove-major:hover {
	color: var(--color-text-clear);
}

.task-current {
	background: rgba(71, 181, 97, 0.4)
}

.task-current:hover {
	background: rgba(71, 181, 97, 1);
}

.task-remove, .remove, .remove-major {
	background: rgba(255, 99, 99, 0.5);
}

.task-remove:hover, .remove:hover, .remove-major:hover {
	background: rgba(255, 99, 99, 0.8);
}

.task-complete {
	background: rgba(56, 154, 191, 0.4);
}

.task-complete:hover {
	background: rgba(56, 154, 191, 1);
}

/* Completed container - generated tasks */

#completed-tasks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: var(--padding-standard);
}

#completed-tasks div {
	width: 90%;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	border: var(--border-style-1);
	margin-top: var(--padding-standard);
	background: var(--bg-color-0);
}

.completed-text {
	width: 67%;
	margin: 0;
	padding: 0.65em;
	padding-left: 2em;
	line-height: 125%;
}

.completed-time {
	width: 23%;
	text-align: center;
	border-left: var(--border-style-1);
	margin: 0;
	padding: 0.65em;
}

.remove {
	width: 10%;
	border-left: var(--border-style-1);
	margin: 0;
	padding: 0.65em;
	font-size: var(--button-text-standard);
	color: var(--color-text-fade);
}

/* Major container and generated major tasks */

#generated-major {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 1.71em;
}

.generated-task-major {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 90%;
	margin-top: var(--padding-standard);
	box-sizing: border-box;
}

.major-task-controller {
	display: flex;
	width: 100%;
	border: var(--border-style-1);
	background: var(--bg-color-0);
}

.task-text-major {
	width: 100%;
	padding: 0.65em;
	padding-left: 2em;
	margin: 0;
	line-height: 125%;
	font-size: 17px;
}

.task-btn-major {
	width: 100%;
	border-left: var(--border-style-1);
}

.remove-major, .lock-major, .task-note {
	font-size: var(--button-text-standard);
	color: var(--color-text-fade);
	transition: all 0.25s;
}

.remove-major:hover, .lock-major:hover, .task-note:hover {
	color: var(--color-text-clear);
}

.task-note {
	background: rgba(235, 191, 30, 0.6);
}

.task-note:hover {
	background: rgba(235, 191, 30, 0.8);
}

.lock-major, button[disabled] {
	background: rgba(191, 191, 191, 0.55);
}

.lock-major:hover, button[disabled]:hover {
	background: rgba(191, 191, 191, 0.9);
}

button[disabled]{
	color: rgba(191, 191, 191, 0.55);
}

button[disabled]:hover {
	color: rgba(191, 191, 191, 0.55);
}

.hidden {
	display: none !important;
}

.new-notes-container, .notes-container {
	display: flex;
	width: 60%;
	margin: 0;
}

.notes-container {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
}

input.new-notes-field {
	width: 100%;
	border: 0;
	box-sizing: border-box;
	margin: 0;
}

.notes-btn {
	width: 20%;
	margin: 0;
}

.notes-container div {
	display: flex;
	width: 100%;
	margin: 0;
	background: var(--bg-color-0);
	margin-left: 0.4em;
	border-top: var(--border-style-2);
	border-left: var(--border-style-1);
}

.notes-text {
	width: 100%;
	margin: 0;
	padding: 0.51em;
	padding-left: 2.55em;
}

.remove-note {
	width: 20%;
	margin: 0;
	border-left: var(--border-style-1);
	border-right: var(--border-style-1);
	background: rgba(255, 99, 99, 0.5);
	color: var(--color-text-fade);
	transition: all 0.25s;
	padding: 0.51em;
}

.remove-note:hover {
	background: rgba(255, 99, 99, 0.8);
	color: var(--color-text-clear);
}

/* Scheduled task container & generated tasks */

#generated-schedule {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
	padding-bottom: var(--padding-standard);
}

#generated-schedule div {
	width: 100%;
	display: flex;
	background: var(--bg-color-0);
	margin-top: var(--padding-standard);
	border: var(--border-style-1);
}

.date-time {
	width: 50%;
	font-size: 14px;
	text-align: center;
	border-right: var(--border-style-2);
	box-sizing: border-box;
	margin: 0;
	padding: var(--padding-standard);
}

.scheduled-task {
	width: 100%;
	font-size: 14px;
	margin: 0;
	margin-left: 2.51em;
	padding: var(--padding-standard);
}

#generated-schedule div button {
	width: 20%;
	font-size: var(--button-text-standard);
	margin: 0;
	padding: 0.31em;
	color: var(--color-text-fade);
}

#generated-schedule div button:hover {
	color: var(--color-text-clear);
}

/* Inputs main */

input {
	box-sizing: border-box;
	text-align: center;
	outline: none;
	background: rgba(102, 131, 143, 0.2);
	color: var(--color-text-clear);
	border: 0;
	padding: 0.31em;
}

input::placeholder {
	color: var(--color-text-fade);
}

/* Buttons main */

#add-major, #add-minor, #add-schedule {
	padding: 0.51em;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.65);
	transition: color 0.25s, background 0.25s;
}

#add-major {
	margin-top: 0.1em;
}

#add-schedule, #add-minor, #add-major {
	background: var(--input-important-hover);
}

#add-schedule:hover, #add-minor:hover, #add-major:hover {
	color: var(--color-text-clear);
	background: rgba(217, 140, 0, 0.8);
}
