body {
  background: var(--bg-color-0);
  color: white;
}

#controls-container, #time-controls {
	display: flex;
	text-align: center;
	width: 95%;
	box-sizing: border-box;
	margin: 0 auto;
}

.button {
	border: var(--border-style-1);
	width: 100%;
	padding: 0.8em;
	margin: 0.14em;
	margin-top: 0.28em;
	transition: all 0.25s;
	background: var(--bg-color-1);
	color: var(--color-text-fade);
	box-sizing: border-box;
}

.button:hover {
	background: var(--header-color);
	color: var(--color-text-clear);
}

#play {
	width: 200%;
	background: var(--input-important);
	transition: background 0.25s;
	color: var(--font-color);
	border: 0;
}

#play:hover {
	background: var(--input-important-hover);
}

#timer {
	font-size: 40px;
	text-align: center;
	border: var(--border-style-1);
	padding: 20px 0;
	margin: 0 auto;
	margin-top: 0.7em;
	width: 95%;
	box-sizing: border-box;
}